<div id="cards">
    <div id="inside">
        <header>
            <div class="left">
                <div id="name"> {{monster().name}}</div>
            </div>
            <div class="right">
                <div id="hp">{{monster().hp}}</div>
                <img class="icon_energy" src="../../../assets/boulon.png" />
            </div>
        </header>
        <figure id="art">
            <img src="../../../assets/images.png"/>
            <figcaption>{{monster().figureCaption}}</figcaption>
        </figure>
        <div id="capacities" >
            <div class="capacity">
                <div class="main">
                    <div class="cost">
                        <img class="icon_energy" src="../../../assets/boulon.png" />
                        <img class="icon_energy" src="../../../assets/boulon.png" /> 
                    </div>
                    <div class="name">{{monster().capacityName}}</div>
                    <div class="damage">{{monster().damage}}</div>
                </div>
            </div>
            <div class="description">
                {{monster().description}}
            </div>
        </div>

    </div>
</div>
