/* You can add global styles to this file, and also import other style files */ 
 html {
    font-family: Roboto, sans-serif;
    height: 100%;
    background-image: linear-gradient(
        545deg,
        rgb(252, 228, 252),
        rgb(218, 228, 255)
    );
}